{% extends "base.html" %}
{% block content %}
{% load static %}
<article class="grid">
    <div>
      <p>Hello adventurer!</p>
      {% if form.errors %}
        <div>
          {% for k, error in form.errors.items %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <form method="POST" action=".">
        {% csrf_token %}
        {% for field in form %}
          <label for="{{ field.auto_id }}">
            {{ field.label }}
            {{ field }}
            {% if field.errors %}
              <div>{{ field.errors }}</div>
            {% endif %}
          </label>
        {% endfor %}
        <button type="submit">Login</button>
      </form>
    </div>
    <div>
      <img src="{% static "images/pexels-photo-13461809.jpeg" %}">
    </div>
</article>
{% endblock content %}
        {% comment %} <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div> {% endcomment %}
